
/* Your CSS Code here. */
holder{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
align-items: center;
	justify-content: center;
}
div{
	padding: 30px;
	margin:4px;
	background-color: yellow;
}